body {
  background: black;
  color: aqua;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.conteudo {
  margin: 0 auto;
  width: 100%;;
  max-width: 450px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #2b2a2a;
  padding: 55px;
  border-radius: 12px;
}

.topo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.topo input {
  width: 350px;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #191818;
  outline: none;
  background: #191818;
  color: white;
}

.topo button{
  width: 80%;
  padding: 10px 0px;
  margin: 2px;
  border: none;
  border-radius: 12px;
  height: 50px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  background-color: rgb(68, 252, 252);
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px blue;
}

.topo button:hover {
  background: rgb(45, 60, 60);
  cursor: pointer;
}

#ListaTarefas{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#ListaTarefas li {
  padding: 20px;
  background: #191818;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnAcao{
  display: flex;
  margin: 3px;
  border-radius: 10px;
  cursor: pointer;
  background: cyan;
  
  
}
.btnAcao:hover{
  background: rgb(45, 60, 60);
  cursor: pointer;
}